.right {
    float: right;
}

.left {
    float: left;
}

img {
    height: 400px;
}

#obit {
    padding: 20px;
    margin: 10px;
}

#blessing {
    font-style: italic
}

div {
    padding:0px;
}

body {
    font-family: arial, helvetica, sans-serif;
    line-height: 1.4;
}

h2 {
    font-size: 40px;
}
